{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="pt-bt">
<head>
	<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}

	<title>{% block title %}Inventsis{% endblock %}</title>
</head>
<body>
 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'iform:iform_list' %}">Enterprise Data Repository</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
              aria-expanded="false">List <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'tag:tag_list' %}">Tags</a></li>
                  <li><a href="{% url 'iform:iform_list' %}">Forms</a></li>
                  <li><a href="{% url 'inspection:inspection_list' %}">Inspections</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
              aria-expanded="false">Create <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'tag:tag_create' %}">Tags</a></li>
                  <li><a href="{% url 'iform:iform_create' %}">Forms</a></li>
                  <li role="separator" class="divider"></li>
                  <!--<li class="dropdown-header">Nav header</li>-->
                  <!--<li><a href="#">Separated link</a></li>-->
                  <!--<li><a href="#">One more separated link</a></li>-->
              </ul>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" 
              aria-expanded="false">Status<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                    <li class="navbar-text">Logged as
                        {{ user.get_username }}
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
                  {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
                  {% endif %} 
              
                  <li><a href="#">Settings</a></li>
              </ul>
            </li>
                  <li><a href="{% url 'iform:iform_list' %}">Home</a></li>
                  <li><a href="mailto:rogerio@inventsis.com.br">Contact</a></li>
                 
              </li>
          </ul>
        </div>
      </div>
    </nav>


        <div class="container">
	{% block content %}
	<h4> Invent sistemas </h4>
	{% endblock %}


	{% block footer %}
	{% endblock%}
</div>

	{% block extrajs %}
	{% endblock %}


</body>
</html>