{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="pt-bt">
<head>
	<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}

	<title>{% block title %}Inventsis{% endblock %}</title>
	<style>
	.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
	</style>
</head>
<body>
<div class="container">
	<h2> Inventsis - Enterprise Data Repository</h2>
	{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="{% url 'inspection:inspection_list' %}">Home</a>
		                  		</div>
		                  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                    	<ul class="nav navbar-nav">

			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Create<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'tag:tag_create' %}">Tags</a></li>
				                        	<li><a href="{% url 'iform:iform_create' %}">Forms</a></li>

			                        	</ul>
			                        </li>
		                    	</ul>
		                    	<ul class="nav navbar-nav ">
		                        	{% comment %}
									<li class="dropdown"><a href="http://inventsis.com.br" onclick="pageTracker._link(this.href); return false;">Create Inspection</a>
		                        	</li>
									{% endcomment %}
		                        	<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'tag:tag_list' %}">Tags</a></li>
				                        	<li><a href="{% url 'iform:iform_list' %}">Forms</a></li>
											<li><a href="{% url 'inspection:inspection_list' %}">Inspections</a></li>
		                        		</ul>
		                      		</li>
		                    	</ul>
		                    </div>
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>

    <div class="navbar-default sidebar" role="navigation">                  
        <div class="sidebar-nav">
            <ul class="nav" id="nice-menu">
                <li class="sidebar-brand">
                    <div class="ttdiv">
                        <span class="ttspan-fill">Menu</span>
                        <span class="ttspan-right"><i class="fa fa-align-justify"></i></span>
                    </div>
                </li>
            </ul>                        
            <ul class="nav" id="side-menu">   
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control ttspan-fill" placeholder="Search...">
                        <span class="input-group-btn ttspan-fill">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>                            
                <li>
                    <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> <span class="ttspan-fill">Dashboard</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-table fa-fw"></i> <span class="ttspan-fill">Tables</span></a>
                </li>  
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> <span class="ttspan-fill">Charts</span><span class="fa arrow ttspan-fill"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Flot Charts</a>
                        </li>
                        <li>
                            <a href="#">Morris.js Charts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>                            
                <li>
                    <a href="#"><i class="fa fa-edit fa-fw"></i><span class="ttspan-fill"> Forms</span></a>
                </li>    
                <li>
                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> <span class="ttspan-fill"> Multi-Level Dropdown</span><span class="fa arrow ttspan-fill"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>                                                                              
            </ul>
        </div>
    </div>
	{% endblock %}


	{% block content %}
	<h4> Invent sistemas </h4>
	{% endblock %}


	{% block footer %}
	{% endblock%}
</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	{% block extrajs %}
	{% endblock %}


</body>
</html>