Django==1.11
django-bootstrap3==8.2.3
pkg-resources==0.0.0
pytz==2017.2
pint
mptt
django-admin-bootstrapped==2.5.7
django-mptt-admin
fontawesome
django-bootstrap-toolkit==2.15.0
django-bootstrap==3-9.1.0
django-tables==2-1.21.1
django-mptt-admin==0.5.0
django-treenav==1.2.0
django-fontawesome==0.3.1
django-filter==1.1.0
pint==0.8.1
