{% extends 'base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			<td>Name</td>
			<!--<td>Tags</td>-->
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		<h3>Forms</h3>
		{% for iform in object_list %}
		<tr>
			<td>{{ iform.name }}</td>
			<!--<td>{% for t in iform.tag %} {{ t.name }}, {% endfor %}</td>-->
			<td>
				<a class="btn btn-primary btn-sm" href="{% url 'iform:iform_update' iform.id %}">Update</a>
				<a class="btn btn-danger btn-sm" href="{% url 'iform:iform_delete' iform.id %}">Delete</a>
				<a class="btn btn-success btn-sm" href="{% url 'inspection:inspection_create' iform.id %}">New Inspection</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No Forms in the database</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock%}