{% load static %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="pt-bt">
<head>
	<meta charset="UTF-8">

	{% block extrastatic %}
	{% endblock %}

	<title>{% block title %}Inventsis{% endblock %}</title>
</head>
<body>
<div class="container">
	<h2> Inventsis - Enterprise Data Repository</h2>
	{% block navbar %}
		<div class="bs-docs-section clearfix">
		    <div class="row">
		        <div class="col-lg-12">
		            <div class="bs-component">
		            	<nav class="navbar navbar-default">
		                	<div class="container-fluid">
		                  		<div class="navbar-header">
		                    		<a class="navbar-brand" href="{% url 'inspection:inspection_list' %}">Home</a>
		                  		</div>
		                  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		                    	<ul class="nav navbar-nav">

			                        <li class="dropdown">
			                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Create<span class="caret"></span></a>
			                        	<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'tag:tag_create' %}">Tags</a></li>
				                        	<li><a href="{% url 'iform:iform_create' %}">Forms</a></li>

			                        	</ul>
			                        </li>
		                    	</ul>
		                    	<ul class="nav navbar-nav ">
		                        	{% comment %}
									<li class="dropdown"><a href="http://inventsis.com.br" onclick="pageTracker._link(this.href); return false;">Create Inspection</a>
		                        	</li>
									{% endcomment %}
		                        	<li class="dropdown">
		                        		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">List<span class="caret"></span></a>
		                        		<ul class="dropdown-menu" role="menu">
											<li><a href="{% url 'tag:tag_list' %}">Tags</a></li>
				                        	<li><a href="{% url 'iform:iform_list' %}">Forms</a></li>
											<li><a href="{% url 'inspection:inspection_list' %}">Inspections</a></li>
		                        		</ul>
		                      		</li>
		                    	</ul>
		                    </div>
		                </div>
		            </nav>
		        </div>
           	</div>
        </div>
    </div>

	{% endblock %}


	{% block content %}
	<h4> Invent sistemas </h4>
	{% endblock %}


	{% block footer %}
	{% endblock%}
</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	{% block extrajs %}
	{% endblock %}


</body>
</html>