{% extends 'base.html' %}
{% block content %}

<table class="table table-bordered" >
	<thead>
		<tr>
			<td>Name</td>
			<td>Type</td>
			<td>Unit</td>
			<!--<td>Decimal Places</td>-->
		</tr>
	</thead>
	<tbody>

		{% if object_list %}
		<h3>Tags</h3>

		{% for tag in object_list %}
		<tr>
			<td>{{ tag.name }}</td>
			<td>{{ tag.get_type_display }}</td>
			<td>{{ tag.get_unit_display }}</td>
			<!--<td>{{ tag.decimal_places}}</td>-->
			<td>
				<a class="btn btn-primary btn-sm" href="{% url 'tag:tag_update' tag.id %}">Update</a>
				<a class="btn btn-danger btn-sm" href="{% url 'tag:tag_delete' tag.id %}">Delete</a>
			</td>
		</tr>
		{% endfor %}

		{% else %}
		<h1>No Tags in the database</h1>
		{% endif %}
	</tbody>
</table>
<ul class="pager">
	<li>
		{% if page_obj.has_previous %}
       	 <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}
        </li>
	<li>
		{% if page_obj.has_next %}
     	 <a href="?page={{ page_obj.next_page_number }}">Next</a>
    	{% endif %}
    </li>
</ul>
{% endblock%}