{% extends 'base.html' %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}

<script>
    function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();

    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script>

<h3>Form</h3>
<form action="" method="post">
    <div>
	{{ iform.as_p }}
    </div>

    <div class="form-inline">
    {% csrf_token %}

        <legend>Tags</legend>
        {{ iform_tag.management_form }}
        {{ iform_tag.non_form_errors }}
        <div id="iformtag_container">
            {% for form in iform_tag.forms %}
                <div class="tag-formset-fieldset-{{ forloop.counter0 }}">
                    <div class="tag-formset">
                        {% bootstrap_form form layout='inline' %}
                        <legend></legend>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

  <!-- buttons - these live outside of the container, above -->
  <div>
    <button id="add_more" type="button">Add</button>
  </div>
    <p></p>
        <button class="btn btn-primary" type="submit">Save</button>
        <button type="reset" class="btn btn-warning" >Reset form</button>
        <a href="{% url 'iform:iform_list' %}" class="btn btn-danger">Cancel</a>
</form>
<script>
    $('#add_more').click(function() {
        cloneMore('div.tag-formset:last', 'iform_tag');
    });

</script>
{% endblock %}
